<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<!-- Linking our current stylesheet -->
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  		<a class="navbar-brand" href="/">YelpCamp</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarCollapse">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
      			</li>
    		</ul>
    		<ul class="navbar-nav navbar-right">
				<!-- Note that for any route that is utilizing the navbar, we have to pass in -->
				<!-- a current user variable, otherwise this will consistenly return undefined -->
				<% if(!currentUser){ %>
    				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
				<% } else { %>
					<li class="nav-item"><a class="nav-link" href="#">Signed in as <%= currentUser.username %></a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				<% } %>
    		</ul>
  		</div>
	</nav>

	<!-- The .length property checks to see if the error property is populated -->
	<!-- The error property could exist and at the same time be empty -->

	<!-- Also note that the empty array is considered "truthy", if([]) is considered  -->
	<!-- to be a true statement -->
	<div class="container">
		<% if(error && error.length > 0){ %> 
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
	 <% } %> 
		<% if(success && success.length > 0){ %> 
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
	 <% } %> 
	</div>

	
	


	